<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServerStartup</servlet-name>
    <servlet-class>main.java.com.huateng.commons.config.ServerStartup</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>httpPostMsgServlet</display-name>
    <servlet-name>httpPostMsgServlet</servlet-name>
    <servlet-class>main.java.com.huateng.sendservlet.httpPostMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpPostMsgServlet</servlet-name>
    <url-pattern>/httpPostMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForBank</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForBank</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForBank</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForCRM</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForCRM</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForCRM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForCRM</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForCRM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForTmall</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForTmall</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForTmall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForTmall</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForTmall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForMobileShop</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForMobileShop</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForMobileShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForMobileShop</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForMobileShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>consultReceiveMsg</display-name>
    <servlet-name>consultReceiveMsg</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.consultReceiveMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consultReceiveMsg</servlet-name>
    <url-pattern>/consultReceiveMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>httpPostMsgMultipartServlet</display-name>
    <servlet-name>httpPostMsgMultipartServlet</servlet-name>
    <servlet-class>main.java.com.huateng.sendservlet.httpPostMsgMultipartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpPostMsgMultipartServlet</servlet-name>
    <url-pattern>/httpPostMsgMultipartServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitSelectServlet</display-name>
    <servlet-name>InitSelectServlet</servlet-name>
    <servlet-class>main.java.com.huateng.autoinitmsg.servlet.InitSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitSelectServlet</servlet-name>
    <url-pattern>/InitSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RspTemlateInit</display-name>
    <servlet-name>RspTemlateInit</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.RspTemlateInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RspTemlateInit</servlet-name>
    <url-pattern>/RspTemlateInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileCont</display-name>
    <servlet-name>GetFileCont</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.GetFileCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileCont</servlet-name>
    <url-pattern>/GetFileCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFileCont</display-name>
    <servlet-name>UpdateFileCont</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.UpdateFileCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFileCont</servlet-name>
    <url-pattern>/UpdateFileCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>httpPostMMallMsgServlet</display-name>
    <servlet-name>httpPostMMallMsgServlet</servlet-name>
    <servlet-class>main.java.com.huateng.sendservlet.httpPostMMallMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpPostMMallMsgServlet</servlet-name>
    <url-pattern>/httpPostMMallMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>httpPostMsgTmallServlet</display-name>
    <servlet-name>httpPostMsgTmallServlet</servlet-name>
    <servlet-class>main.java.com.huateng.sendservlet.httpPostMsgTmallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpPostMsgTmallServlet</servlet-name>
    <url-pattern>/httpPostMsgTmallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>httpPostMsgMobileShopServlet</display-name>
    <servlet-name>httpPostMsgMobileShopServlet</servlet-name>
    <servlet-class>main.java.com.huateng.sendservlet.httpPostMsgMobileShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpPostMsgMobileShopServlet</servlet-name>
    <url-pattern>/httpPostMsgMobileShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponseServletForMMshopPay</display-name>
    <servlet-name>ReceiveMsgAutoResponseServletForMMshopPay</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponseServletForMMshopPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponseServletForMMshopPay</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponseServletForMMshopPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForReverse</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForReverse</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForReverse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForReverse</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForReverse.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForRefund</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForRefund</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForRefund</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForRefund</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForRefund.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgMMshopForTpay</display-name>
    <servlet-name>ReceiveMsgMMshopForTpay</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgMMshopForTpay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgMMshopForTpay</servlet-name>
    <url-pattern>/ReceiveMsgMMshopForTpay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgMMshopForGetMsg</display-name>
    <servlet-name>ReceiveMsgMMshopForGetMsg</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgMMshopForGetMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgMMshopForGetMsg</servlet-name>
    <url-pattern>/ReceiveMsgMMshopForGetMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMsgMMshopForTpayRZZF</display-name>
    <servlet-name>ReceiveMsgMMshopForTpayRZZF</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgMMshopForTpayRZZF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgMMshopForTpayRZZF</servlet-name>
    <url-pattern>/ReceiveMsgMMshopForTpayRZZF</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForConsumption</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForConsumption</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForConsumption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForConsumption</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForConsumption.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForPayOpenQuery</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForPayOpenQuery</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForPayOpenQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForPayOpenQuery</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForPayOpenQuery.do</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForVerificationCode</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForVerificationCode</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForVerificationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForVerificationCode</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForVerificationCode.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ReceiveMsgAutoResponServletForTenQuery</display-name>
    <servlet-name>ReceiveMsgAutoResponServletForTenQuery</servlet-name>
    <servlet-class>main.java.com.huateng.receive.servlet.ReceiveMsgAutoResponServletForTenQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMsgAutoResponServletForTenQuery</servlet-name>
    <url-pattern>/ReceiveMsgAutoResponServletForTenQuery.do</url-pattern>
  </servlet-mapping>
</web-app>