<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.1.xsd">

 	
 	<bean id="placeholderConfigBank"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
		      <!--  <value>${CMUPAYCRMFRONT_JMSFILE}</value>  -->
		      <value>classpath:jms.properties</value>  
			</list>
		</property>
	</bean> 
	
	<!-- jackson mapper -->
	<bean id="jsonMapper" class="com.huateng.core.jms.common.NoProperisObjectMapper" />
		
	<context:component-scan base-package="com.huateng" />
	<task:annotation-driven />
	<aop:aspectj-autoproxy />

	<bean id="logHandle" class="com.huateng.log.LogHandleImpl">
	</bean>
			  
    <!-- 前置提供的hessian服务实现类，具体服务发布在remote-service.xml中 -->
	<bean id="upayKeyUpdateApplyService" class="com.huateng.upay.service.impl.UpayKeyUpdateApplyServiceImpl">	
		<property name="SecurityHandle" ref="SecurityHandle" />
		<property name="upayKeyUpdateService" ref="UpayKeyUpdateService" /> 
	</bean>
	
	<bean id="crmRemoting"  class="com.huateng.core.remoting.impl.CrmRemotingImpl">
	    <property name="SecurityHandle" ref="SecurityHandle" />
		<property name="logHandle" ref="logHandle"/>
	</bean>
	
	<bean id="crmTmallRemoting"  class="com.huateng.core.remoting.impl.CrmTmallRemotingImpl">
		<property name="logHandle" ref="logHandle"/>
	</bean>	
	
	<import resource="applicationContext-crm-jms.xml" />  
	<import resource="remote-client.xml" />
    <import resource="applicationContext-quartz.xml" />  
</beans>